@import './base.css';

@font-face {
  font-family: Matter;
  src: url('/fonts/Matter-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: Matter;
  src: url('/fonts/Matter-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Matter;
  src: url('/fonts/Matter-SemiBold.ttf');
  font-weight: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Matter;
  text-decoration: none;
  transition: .2s;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg);
  overflow-x: hidden;
}

#section {
  display: flex;
  justify-content: center;
}

.app_width {
  width: 1320px;
  max-width: 90%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  padding: 100px 0;
}

.empty p {
  color: var(--tx-dimmed);
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
  /* 16.8px */
  letter-spacing: 0.28px;
}

.scroll_y {
  overflow-y: auto;
}

.scroll_y::-webkit-scrollbar {
  display: none;
}

table,
tr,
td,
th {
  padding: 0;
  margin: 0;
  border: none;
}

@keyframes shake {

  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}


@keyframes slide_in_left {
  0% {
    transform: translateX(100px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slide_in_up {
  0% {
    transform: translateY(100px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes fade_in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}